/* About 페이지 전용 스타일 - 다른 페이지에 영향 없음 */
.aboutPage {
  margin-bottom: 100vh;
}

.aboutContainer {
  position: relative;
  height: 300vh;
  background-color: rgb(255, 255, 255);
}

.aboutStickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

.aboutStickyMask video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

